<div>
   <p>いいねした人</p>
      <% if !@users.nil? %>
        <% @users.each do |user|%>
          <div class="post center-vertical" width="125" height="125">
            <p><%= user.name %></p> <br>
            <p><img src="<%= user.icon_url %>"  alt="user_image" width="40" height="40"></p>
            <p><%= user.description %></p> <br>
          </div>
        <% end %>
      <% end %>
</div>