		<div class="login_button">
			<div>
				<form action="/signin" method="post">
					<div class="center-hrizontal">
						<div>
							<input name="name" type="text" placeholder="名前を入力"><br>
							<input name="password" type="password" placeholder="パスワードを入力">
						</div>
						<div>
							<input type="submit" value="ログイン">
						</div>
					</div>
				</form>
			</div>
		</div>