<head>
  <link rel="shortcut icon" href="favicon.ico">
</head>

	<section class="view2" style="min-height: 800px;>
		<div class="login_button haba">
			<div class="haba2">
				<form action="/signin" method="post">
					<div style="text-align: center;">
						<div style="padding-left: 500px;">
        			<div class="cp_iptxt">
							<input name="name" type="text" placeholder="名前を入力"><br>
							</div>
        			<div class="cp_iptxt">
							<input name="password" type="password" placeholder="パスワードを入力">
							</div>
						</div>
						<div class="sign">
							<input type="submit" value="ログイン" >
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>