<div>
  <form action="/signup" method="post" enctype="multipart/form-data">
    <div>
      <div>
        <input name="name" placeholder="名前を入力"><br>
        <input name="password" type="password" placeholder="パスワードを入力"><br>
        <input name="password_confirmation"  type="password" placeholder="パスワードをもう一度入力"><br>
        <input name="description" placeholder="自己紹介"><br>
        <input name="file" type="file" placeholder="画像を選択">
      </div>
      <div>
        <input type="submit" value="新規登録">
      </div>
    </div>
  </form>
</div>